@import "bootstrap";

$bodyBgColor: beige;

body {
  background-color: $bodyBgColor;
}

a {
  color: darkmagenta !important;
}

.container-fluid {
  font-weight: 500;

  .row {
    margin: 0;

    a {
      color: darkcyan;
    }

    &:last-child {
      background-color: $link-color;
    }
  }
}
