@import "bootstrap";

$bodyBgColor: beige;

body {
  background-color: $bodyBgColor;
}

a {
  color: darkmagenta !important;
}

// BEM
// .container-fluid
.container-fluid {
  font-weight: 500;

  // .container-fluid__row
  .row {
    margin: 0;

    a {
      color: darkcyan;
    }

    // .container-fluid__row--last
    &:last-child {
      background-color: $link-color;
    }
  }
}
